/*VARIABLES*/
:root {
    /*colors*/
    --background_color: rgba(255, 255, 255, 1);
    --font_color: rgba(0, 0, 0, 1);
    --button_background: rgba(0, 0, 0, 1);
    --button_font_color: rgba(255, 255, 255, 1);
    --deselected_border_color: rgba(216, 162, 162, 0);
    --selected_border_color: rgba(128, 128, 128, 1);

    /*sizes*/
    --header_font_size: 6rem;
    --header_font_weight: 900;
    --subheader_font_size: 3rem;
    --subheader_font_weight: 300;
    
    /*miscelleanous*/
    --font_family: Roboto;
}






/*GLOBAL*/
* {
    margin: 0px;
    padding: 0px;
}






/*OBJECTS*/
#backgroundPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}

#buttonContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#theme1Toggle, #theme2Toggle, #theme3Toggle {
    height: 100%;
    width: 100%;
}

#canvas1, #canvas2, #canvas3 {
    display: block;
}



body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font_family);
    background: var(--background_color);
}

button {
    padding: 0.75rem 1.5rem;

    border-style: solid;
    border-width: 2px;
    border-radius: 6px;

    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.1s linear;
}

button:hover {
    transform: scale(1.10);
    transition: 0.15s cubic-bezier(0,1.45,.5,1.55);
}







/*HTML CLASSES*/
.main_container {
    z-index: 1;
}

.centered_flexbox {
    display: flex;
    gap: 1rem;
    justify-content: center;
}



.time_label {
    text-align: center;
    font-size: var(--header_font_size);
    font-weight: var(--header_font_weight);
}

.date_label {
    text-align: center;
    font-size: var(--subheader_font_size);
    font-weight: var(--subheader_font_weight);
}

.day_label {
    text-align: center;
    font-size: var(--subheader_font_size);
    font-weight: var(--subheader_font_weight);
}



.theme_button {
    background: var(--button_background);
    color: var(--button_font_color);
}






/*SCRIPT CLASSES*/
.deselected {
    border-color: var(--deselected_border_color);
}

.selected {
    border-color: var(--selected_border_color);
}

.hidden {
    display: none;
}






/*MULTI-SCREEN SUPPORT*/
@media (max-width: 768px) {
    :root {
        --header_font_size: 4rem;
        --subheader_font_size: 2rem;
    }

    #buttonContainer {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 12rem;
    }
}

@media (max-width: 480px) {
    :root {
        --header_font_size: 3rem;
        --subheader_font_size: 1.5rem;
    }

    #dayLabel {
        display: none;
    }

    button {
        width: 8rem;
    }
}