/*VARIABLES*/
:root {
    --background_color: #131218;
    --font_color: #fff8eb;

    --canvas_button_color: #476c9b;
    --audio_button_color: #ef6351;
    --video_button_color: #9c528b;

    --font_family: Roboto;
    --header_font_size: 6rem;
    --header_font_weight: 900;
    --subheader_font_size: 3rem;
    --subheader_font_weight: 300;
}






/*GLOBAL*/
* {
    margin: 0px;
    padding: 0px;
}






/*OBJECTS*/
#backgroundPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
}



#buttonContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}



#canvasToggle {
    height: 100%;
    width: 100%;
}



body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font_family);
    background: var(--background_color);
    color: var(--font_color);
}



button {
    padding: 0.75rem 1.5rem;

    border-style: solid;
    border-color: transparent;
    border-radius: 6px;

    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.1s linear;
}



button:hover {
    transform: scale(1.10);
    transition: 0.15s cubic-bezier(0,1.45,.5,1.55);
}







/*HTML CLASSES*/
.main_container {}

.centered_flexbox {
    display: flex;
    gap: 1rem;
    justify-content: center;
}



.time_label {
    text-align: center;
    font-size: var(--header_font_size);
    font-weight: var(--header_font_weight);
}

.date_label {
    text-align: center;
    font-size: var(--subheader_font_size);
    font-weight: var(--subheader_font_weight);
}

.day_label {
    text-align: center;
    font-size: var(--subheader_font_size);
    font-weight: var(--subheader_font_weight);
}



.canvas_button {
    background: var(--canvas_button_color);
    color: var(--font_color)
}

.audio_button {
    background: var(--audio_button_color);
    color: var(--font_color)
}

.video_button {
    background: var(--video_button_color);
    color: var(--font_color)
}






/*SCRIPT CLASSES*/
.selected {
    border-color: var(--font_color)
}

.hidden {
    display: none;
}






/*MULTI-SCREEN SUPPORT*/
@media (max-width: 768px) {
    :root {
        --header_font_size: 4rem;
        --subheader_font_size: 2rem;
    }

    #buttonContainer {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 12rem;
    }
}

@media (max-width: 480px) {
    :root {
        --header_font_size: 3rem;
        --subheader_font_size: 1.5rem;
    }

    #dayLabel {
        display: none;
    }

    button {
        width: 8rem;
    }
}